<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.se_firebase">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/bitian"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bitian"
        android:supportsRtl="true"
        android:theme="@style/Theme.SE_firebase"
        tools:targetApi="31">
        <activity
            android:name=".cutoff_analysis"
            android:exported="false"
            android:label="Predict your Rank">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".contact_web"
            android:exported="false"
            android:label="ERP Login">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".web_notification"
            android:exported="false"
            android:label="Admission Notification">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".manageOtp"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".OTP_login"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Seat_accept"
            android:exported="false"
            android:label="Upload your Document">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Tenth_marksheet"
            android:exported="false"
            android:label="Upload your Document">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".JEE_Score_card"
            android:exported="false"
            android:label="Upload your Document">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".tweleve_document"
            android:exported="false"
            android:label="Upload your Document">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Birth_certificate"
            android:exported="false"
            android:label="Upload your Document">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Upload_files"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Fee_payment"
            android:exported="false"
            android:label="Fee Payment">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Seat_upgradation"
            android:exported="false"
            android:label="Seat Upgradation" />
        <activity
            android:name=".Seat_acceptance"
            android:exported="false"
            android:label="Seat Acceptance" />
        <activity
            android:name=".Counselliing_form"
            android:exported="false"
            android:label="Choice Filling"
            android:parentActivityName=".Counselling">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".fill_form"
            android:exported="false"
            android:label="Application Form" />
        <activity
            android:name=".Allotment_list_campus"
            android:exported="false" />
        <activity
            android:name=".Semester_intent"
            android:exported="false"
            android:label="Your Current Semester" />
        <activity
            android:name=".Admin_signUp"
            android:exported="false"
            android:label="Create your Admin Account"
            android:parentActivityName=".Admin_login" />
        <activity
            android:name=".Admin_login"
            android:exported="false"
            android:label="Admin Login" />
        <activity
            android:name=".contact_us"
            android:exported="false"
            android:label="Contact Us"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Lateral_entry"
            android:exported="false"
            android:label="Lateral Entry"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Allotment_list"
            android:exported="false"
            android:label="Allotment List"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Application_Form"
            android:exported="false"
            android:label="Select your Campus"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".admission_withdrawal"
            android:exported="false"
            android:label="Admission Withdrawal"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NRI_Admission"
            android:exported="false"
            android:label="NRI Admission"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Counselling"
            android:exported="false"
            android:label="Counselling Details"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Document_verfication"
            android:exported="true"
            android:label="Document Verification"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Programs_offered"
            android:exported="false"
            android:label="Programs Offered"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:label="Create Your User Account" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="User Login" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Admission Module">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>